extends layout

block title
  .container
    .space-small
    .centered
      ul.ch-grid
        li
          .ch-item.ch-img-1
            .ch-info-wrap
              .ch-info
                .ch-info-front.ch-img-1
                .ch-info-back
                  h3 Antonin Cezard
                  p
                    br
                    a(href='https://linkedin.com/in/akshay-agarwal-782018a4') View on LinkedIn
    .space-medium

block content
  .posts
    article.post
      h1
        a(href='/Jekyll-Mono/Eternal-Lorem-Ipsum/') The Eternal Lorem Ipsum Placeholder Text Here
      .entry
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet urna eu dolor placerat varius. Vivamus eros augue, consequat id scelerisque nec, fringilla in est. Proin pellentesque malesuada mauris, quis aliquam augue vestibulum ac.
      a.button.button-primary(href='/Jekyll-Mono/Eternal-Lorem-Ipsum/') Read More
    article.post
      h1
        a(href='/Jekyll-Mono/Eternal-Lorem-Ipsum/') The Eternal Lorem Ipsum Placeholder Text Here
      .entry
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet urna eu dolor placerat varius. Vivamus eros augue, consequat id scelerisque nec, fringilla in est. Proin pellentesque malesuada mauris, quis aliquam augue vestibulum ac.
      a.button.button-primary(href='/Jekyll-Mono/Eternal-Lorem-Ipsum/') Read More
