extends ../layout

block content
    h1.
        #{title}
    form#formAddpost(name="addpost",method="post",action="/posts")
        p Title:
            input#inputName(type="text", name="title")
        p Author:
            input#inputBadge(type="text", name="author")
        p Date: 
            input#inputDob(type="date", name="date")
        p Body:
            textarea#inputName(type="text", name="body")
        p
            button#btnSubmit(type="submit") submit