extends ../layout

block content
    h1.
        #{title}
    form#formAddpost(name="addpost",method="post",action="/posts")
        p Title:
            input#inputName(type="text", name="title")
        p Body:
            textarea#inputName(type="text", name="body")
        p
            button#btnSubmit(type="submit") submit